.header {
  background-image: url("../../Assets/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 144rem;
  width: 80%;
  margin: 0 auto;
  padding: 0 4rem;
}

.main {
}

.title {
  position: relative;
  max-width: 42rem;
}

.title h2 {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.2;
  padding: 1rem 3.5rem;
  position: absolute;
  display: inline-flex;
  right: -30%;
  top: -10%;
  transform: rotate(3deg);
  border-radius: 0 15px 15px 0;
}

.title h2:after {
  content: url("./../../Assets/wing-left.svg");
  position: absolute;
  left: -25%;
  top: -32%;
}

.title h1 {
  background: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: -5px 10px 4px rgba(255, 255, 255, 0.25);
  padding: 2.5rem 5rem 2.5rem 3rem;
  font-size: 3rem;
  color: white;
  font-family: Lily Script One;
  font-weight: 400;
  border-radius: 0px 0px 15px 15px;
  max-width: 420rem;
}

.title span {
  font-size: 5rem;
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.info {
  background-color: white;
  max-width: 370px;
  position: relative;
}

.info:after {
  content: url("./../../Assets/wing-right.svg");
  position: absolute;
  right: -28%;
  top: -1px;
}

.content {
  background-color: var(--color-delicius);
  margin-top: 15rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.data {
  flex: 1;
}

.data img {
  margin-top: -5rem;
  margin-bottom: 1rem;
}

.data h4 {
  font-size: 1.4rem;
  color: var(--color-dark);
  margin-bottom: 0.5rem;
}

.data p {
  color: #2f2f2f;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

.button {
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  color: white;
  padding: 0.5rem 0;
  background-color: var(--color-pink);
  margin-bottom: 1.5rem;
}

.numer {
  margin-top: 1rem;
}

.numer a {
  color: #5e5e5e;
}

.numer a:first-child {
  margin-right: 1rem;
}
